<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'static/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'my_profile/css/form.css' %}">
</head>
<body>
    <div>
        <a href="{% url 'main_view:home' %}" class="home btn btn-success" style="border-radius: 0;">Главная страница</a>
    </div>
    <div class="container">
        <h1>Вход</h1>
        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                <label for="id_username">Введите логин</label>
                {{ form.username }}
                <label for="id_password">Введите пароль</label>
                {{ form.password }}
                <button type="submit" class="btn btn-success">Войти</button>
            </form>
        </div>
    </div>
    <div class="another">
        <a href="/profile/register/" class="btn btn-secondary">Зарегистрироваться</a>
    </div>
</body>
</html>