<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Оформление заказа</h2>

<table>
    <thead>
        <tr>
            <th>Книга</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Сумма</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        <tr>
            <td>{{ item.book.title }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.total_price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p>Итоговая стоимость: {{ cart.get_total_price }}</p>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Оформить заказ</button>
</form>
</body>
</html>